{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}


    <div class="monprofil-infos">
        <h1>Mon Profil</h1>

        <article>

            {{ form_start(ProfilFormType) }}
            {{ form_row(ProfilFormType.pseudo) }}
            {{ form_row(ProfilFormType.prenom) }}
            {{ form_row(ProfilFormType.nom) }}
            {{ form_row(ProfilFormType.telephone) }}
            {{ form_row(ProfilFormType.campus) }}



        </article>



    <br>
    <button type="submit" class="btn-1">Enregistrer</button>
    <button type="reset" class="btn-2">Annuler</button>
    {{ form_end(ProfilFormType) }}
    </div>

{% endblock %}
