{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="sorties-list">

    <h1>Sortir.com</h1>

    {% for sortie in liste_sortie %}
    <div> Nom de la sortie : {{ sortie.nom }}</div>
        <div> Date de la sortie : {{ sortie.dateHeureDebut }}</div>
        <div> Clôture : {{ sortie.dateLimiteInscription }}</div>
        <div> Etat : {{ sortie.etat }}</div>
        <div> Inscrits/places : {{ sortie.nbInscriptionsMax }}</div>
        <div> Organisateur : {{ sortie.organisateur}}</div>
    <div> Action :</div>
{% endfor %}
</div>
    {% endblock %}
