{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Sortir.com</h1>

<div class="filtres">
    <h3>Filtrer les sorties</h3>

</div>



<div class="sorties-list">


    <table class="tableau-sorties">
        <tr class="colonnes-sorties">
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Etat</th>
            <th>Inscrits/places</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>
        {% for sortie in liste_sortie %}
        <tr>
            <td> {{ sortie.nom }}</td>
            <td> {{ sortie.dateHeureDebut| date('d-m-Y H:i') }}</td>
            <td> {{ sortie.dateLimiteInscription| date('d-m-Y H:i') }}</td>
            <td> {{ sortie.etat }}</td>
            <td> {{ sortie.nbInscriptionsMax }}</td>
            <td> Organisateur </td>
            <td> Afficher/ Modifier/ S'inscrire </td>
        </tr>
        {% endfor %}
    </table>
    {% if app.user %}
    <a href="{{ path('app_sortie_create') }}" class="button-createsortie">Créer une sortie</a>
    {% endif %}
</div>
{% endblock %}

