{{ form_start(form) }}
    <div class="row">
        <div> {{ form_row(form.campus) }} </div>
        <div> {{ form_row(form.q) }}</div>
        <div> {{ form_row(form.dateFrom) }}</div>
        <div> {{ form_row(form.dateTo) }}</div>
            <div class="checkbox-filtres">
                 <div> {{ form_row(form.sortiesOrga) }}</div>
                 <div> {{ form_row(form.sortiesInscrit) }}</div>
                 <div> {{ form_row(form.sortiesNonInscrit) }}</div>
                 <div> {{ form_row(form.sortiesPassees) }}</div>
            </div>
    </div>
    <button type="submit" class="submit-filtres">Rechercher</button>
{{ form_end(form) }}
