<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/app.css') }}">

    <link rel="icon" href="{{ asset('img/lifestyle.png') }}">


    {% block extrastyles %}{% endblock %}

</head>
<body>
<header>
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('main_accueil') }}" title="Accueil">
                <img src="{{ asset('img/lifestyle.png') }}" alt="Accueil logo">Sortir
            </a>
        </h1>
    </div>
    {% include ('inc/nav.html.twig') %}

</header>


<main>
    {% block body %}{% endblock %}

    {% for message in app.flashes('success') %}
        <div class="flash flash-success">
            {{ message }}
        </div>
    {% endfor %}
</main>


<footer>
    <div class="container">{{ "now" | date("Y") }} Sortir.com</div>
</footer>
</body>


</html>
