<nav>
    <ul>
        <li><a href="{{ path('main_accueil') }}" title="Accueil">Accueil</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}" title="Logout">Logout ({{ app.user.email }})</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
            <li><a href="{{ path('register') }}" title="Create account">Register</a></li>
        {% endif %}
    </ul>
</nav>